{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block body %}



<link rel="stylesheet" href="{{ url_for('site.static', filename='styles/admin.css') }}">
<div class="custom-bg"></div>
<div class="row">
	<div class="col-6 p-3 mx-auto border border-primary bg-white">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-danger" role="alert">
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
		<form action="/admin" method="post">
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" class="form-control">
			</div>

			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" class="form-control">
			</div>

			<div class="form-group">
				<input type="submit" value="Sign in" class="form-control btn btn-primary">
			</div>
		</form>
	</div>
</div>
{% endblock %}